.fa-exclamation-circle {
    color: red;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;

}

.input-group-text {
    background-color: transparent;
}

.form-group {
    margin-bottom: 20px; /* Adjust this value to increase or decrease the gap */
}
.form-outline i {
    position: absolute;
    top:5%;
    transform: translateY(-50%);
  }
